body{
padding:0;
margin:0;
width: 100%;
font-family: 'Merriweather', serif;
}

header{
width: 80%;
margin: 0 auto;
}

.header-cols{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 4rem;
}

main{
width: 80%;
margin: 0 auto;
}

.main-cols{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 4rem;
}

h1{
font-weight: Bolder;
}

h2{
font-size: 20px;
font-weight: bold;  
}

h3{
 font-weight: lighter;   
}

p{
font-weight: lighter;
font-size: 16px;
}

@media(max-width: 900px) {
.header-cols{
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 1rem;
}

.main-cols{
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 4rem;
}
}